$max-width: 1296px;
$main-radius: 100px;
$main-font: 'Noto Sans TC', sans-serif;
$main-serif: 'Noto Serif TC', serif;
$main-color: #5B5B5B;
$main-bg: #F2F2F2;
$border-color: #D4D4D4;
$primary: #B1D6CA;
$secondary: #333333;
$highlight: #FFDD78;
$mobile: 375px;
$tablet: 992px;