/* 引用Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* 全域樣式 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
	height: 100%;	
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a{
	text-decoration: none;
}

/*background*/

.style{
	background-image: url(image-index/background.jpg);
	}

.wrap{
	max-width: 1296px;
	margin: 0 auto;
	border: 2px solid gray;
	}

/* ---bg平板直式--- */
@media(max-width:768px) {
	.wrap{
		width: 100%;
	}

}
/* ---bg手機直式版--- */
@media (max-width:375px) {
	.wrap{
		border: 2px solid greenyellow;	
		margin:0px;
	}
}

/*---layout---*/
/*banner*/
.banner{
	gap: 24x;
	border:2px solid red;
}
.banner-wrap{
	padding-top: 80px;
	padding-bottom: 100px;
	display: flex;
	border: 2px solid orange;
	justify-content: space-between;
}
.banner-views{
	width: 25%;
	padding-left: 32px;
	gap: 28px;
	border: 2px solid blue;
	position: relative;
	display: flex;
	align-items: center;
}
.banner-star{
	width: 25%;
	/* height: 80px; */
	position: absolute;
	top: 0;
	left: -5px;
	border:none;
}
.banner-map{
	width: 25%;
	/* height: 80px; */
	position: absolute;
	bottom: 30px;
	right: -20px;
	border:none;
}
.banner-views-wrap{
	width: 75%;
	height: 90%;
	gap: 10px;
	text-align: center;
	border: #FFDD78 2px solid;
	position: relative;
}
.banner-views-wrap a img{
	width: 70%;
	aspect-ratio: 1/1;
	/* height: 152px; */
	border-radius: 200px;
	border: 4px solid #FFFFFF;
	position: absolute;
}
.view1-margin{
	top: 0;
	right: 0;
}
.view2-margin{
	top: 150px;
	left: 0;
}
.view3-margin{
	top: 300px;
	right: 0;
}
.view4-margin{
	top: 450px;
	left: 0;
}
.world{
	display: none;
}
.banner-img{
	width: 60%;
	height: auto;
	border: 2px solid blue;
	padding-top: 24px;
	padding-left: 24px;
	padding-right: 112px;
}
.banner-img img{
	width: 100%;
}


.banner-title{
	width: 15%;
	border: 2px solid blue;
	background: #FFFFFF;
}
.banner-title-content{
	border: 2px solid purple;
	margin:auto;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.banner-title-content p{
	writing-mode: vertical-rl;
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 48px;
	line-height: 62.4px;
	color: #212121;
	gap: 10px;
	border: 2px solid orangered;
}
.banner-button{
	writing-mode: horizontal-tb;
	margin-top: 50px;
  	display: flex;
  	justify-content: center;
  	gap: 10px;	
}

.banner-button .btn-TW{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	padding: 10px;
	border: 2px solid #333333;
	background:#F2F2F2;
	background-image: url(image-index/banner/Taiwan.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
.banner-button .btn-TW:hover{
	background-image: url(image-index/banner/icon-TW.png);
	background: #333333;
}
.banner-button .btn-world{
	background: #F2F2F2;
	border: 2px solid #333333;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-image: url(image-index/banner/icon-World.png);
	background-repeat: no-repeat;
	background-position: center;
}


.banner-scroll-down{
	width: 100%;
	display: flex;
	justify-content: center;

}
.banner-scroll-down p{
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
.arrow-down{
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(image-index/banner/icon-down.png);
	border: none;
}

/*---banner平板直式板--- */
@media (max-width:768px) {
	.banner-wrap{
		flex-direction: column-reverse;
		gap: 0px;
	}
	.banner-views{
		display: none;
	}
	.banner-img{
		width: 70%;
		margin: 0 auto;
		padding: 40px 12px;
		align-items: center;
	}
	.banner-title{
		width: 100%;
		border: none;
	}
	.banner-title-content p{
		width: 70%;
		margin: auto;
		writing-mode: horizontal-tb;
		text-align: center;

		font-size: 32px;
		line-height: 38.4px;
	}
	.banner-button{
		display: none;
	}
}
/*---banner手機直式板--- */
@media (max-width:375px) {
	.banner-wrap{
		flex-direction: column-reverse;
		gap: 0px;
	}
	.banner-views{
		display: none;
	}
	.banner-img{
		width: 100%;
		padding: 40px 12px;
		align-items: center;
	}
	.banner-title{
		width: 100%;
		border: none;
		padding: 40px 12px;
	}
	.banner-title-content p{
		width: 70%;
		margin: auto;
		writing-mode: horizontal-tb;
		text-align: center;

		font-size: 32px;
		line-height: 38.4px;
	}
	.banner-button{
		display: none;
	}
	
}




/* nav */
.nav-hide{
	display: none;
	position: relative;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 2px solid #D4D4D4;
	z-index: 1000;
}
.nav{
	display: flex;
	padding: 20px 0px;
	background: gray;
	justify-content: space-between;
	align-items: center;
	border: 2px solid purple;
}
.nav-main{
	width: 45%;
	gap: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid pink;
}
.nav-brand{
	width: 138px;
	height: 39px;
	border: 2px solid red;
}
.searchbar{
	width: 251px;
	border-radius: 100px;
	padding:8px 20px;
	gap: 40px;
	color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	border: 1px solid #D4D4D4;
}
.glass{
	display: block;
}
.searchbar input{
	border:none;
	width: 139px;
}
.bi-search{
	width: 24px;
	height: 24px;
	color: #333333;

}
.language-exchange{
	width: 92px;
	height: 44px;
	border-radius: 100px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	display: flex;
	gap: 4px;
	background: #F2F2F2;
	border:1px solid #D4D4D4;
}
.language-exchange input{
	width: 36px;
	height: 36px;
	border-radius: 40px;
	padding: 4px;
	border: none;

	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 7%;
	text-align: center;
	color: #939393
}
.nav-main-chinese{
	background: #EEC753;
	color: #FFFFFF !important;
}

.nav-menu-main{
	width: 50%;
	gap: 28px;
	display: flex;
	justify-content: space-around;
	border:2px solid #212121;
}
.nav-menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 488px;
	gap: 20px;
	border:2px solid #B1D6CA;
}
.nav-menu li a{
	width: 118px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;

	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #5B5B5B;
	text-align: center;
	text-decoration: none;
}
.nav-menu li a:hover{
	color: #B1D6CA;
}

.login-botton {
	min-width: 124px;
	border-radius: 100px;
	border:2px solid #5B5B5B;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 24px;
	gap: 8px;

	text-decoration: none;
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	text-align: center;
	color: #5B5B5B;
}
.login-botton:hover{
	background:#333333;
	color: #FFFFFF;
}
.login-botton a:hover{
	color: #FFFFFF;

}
.hamburger{
	display: none;
}
.searchbar-hide{
	display: none;
	width: 100%;
	padding:8px 20px;
	color: #F2F2F2;
}


/* ---nav平板直式版---  */
@media (max-width:768px) {
	.nav{
		display: none;
	}
	.nav-hide {
		display: block;
 		position: relative;
	}
	.nav-main{
		width: 100%;
		gap: 0px;
		padding:0px 12px;
		justify-content: space-between
	}
	.nav-brand{
		width: 120px;
		height: 48px;
	}
	.searchbar{
		display: none;
	}
	.language-exchange{
		width: 92px;
	}
	.nav-menu-main{
		width: 768px;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
	}
	
}
/* ---nav手機版--- */
@media (max-width:375px) {
	.nav{
		display: none;
	}
	.nav-hide {
		display: block;
 		position: relative;
	}
	.nav-main{
		width: 100%;
		gap: 0px;
		padding:0px 12px;
		justify-content: space-between
	}
	.nav-brand{
		width: 120px;
		height: 48px;
	}
	.searchbar{
		display: none;
	}
	.language-exchange{
		width: 92px;
	}
	.nav-menu-main{
		width: 375px;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;


	}
	.nav-menu{
		width: 375px;
		flex-direction: column;
	}
	.login-botton{
		width: 375px;
	}
	.hamburger{
		display:block;
		width: 48px;
		height: 48px;
	}
	.searchbar-hide{
		width: 375px;
		display: flex;
		justify-content: space-between;
	}
	.searchbar input{
		width: 80px;
		
	}
	.nav-menu-main .active {
  		display: flex;
 		justify-content: space-between;
  		align-items: center;
		width: 100%;
		flex-direction: column;
		float: left;
	}

}



/* content */
.content{
	gap: 40px;
	border: 2px solid black;
	padding-top: 208px;
	padding-bottom: 120px;
}
.content h2{
	display: inline;
	font-family: Noto Serif TC;
	font-weight: 700;
	border-bottom: 9px solid #B1D6CA;
	font-size: 32px;
	line-height: 38.4px;
	letter-spacing: 14%;
}
/* ---connect平板直式板--- */
@media (max-width:736px) {
.content{
	width: 100%;
	padding:0px  12px;
	}
.content h2{
	font-size: 28px;
	line-height: 33.6px;
	letter-spacing: 13%;
	}
}

/* ---connect手機直式板--- */
@media (max-width:375px) {
.content{
	width: 100%;
	padding-right: 12px;
	padding-left: 12px;
	}
.content h2{
	font-size: 28px;
	line-height: 33.6px;
	letter-spacing: 13%;
	}
}


/* ---content-introduce--- */

.introduce-main{
	max-width: 1296px;
	padding-top: 60px;
	padding-bottom: 120px;
	gap: 16px;
	border: 2px solid orange;
	display: flex;
}
.introduce-item{
	width: 32%;
	padding: 40px 48px;
	border-radius: 28px;
	border: 2px solid #D4D4D4;
	background: #F2F2F2;
	vertical-align: middle;
}
.introduce-item h3{
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	text-align: center;
	padding-bottom: 20px;
	color: #333333;
}
.introduce-item img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.introduce-item p{
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 10%;
}
@media (max-width:736px) {
	.introduce-main{
		flex-wrap: wrap;
	}
}
@media (max-width:375px) {
	.introduce-main{
		padding-right: 12px;
		padding-left: 12px;
		flex-wrap: wrap;
	}
	.introduce-item{
		width: 327px;
		padding: 32px 28px;
		border-radius: 28px;
	}
	.introduce-item h3{
		width: 271px;
		text-align: center;
		letter-spacing: 12%;
	}
	.introduce-item p{
		width: 271px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 9%;
	}
}


/* ---content-shopping--- */
.shopping-hide{
	display: none;
}
.shopping-main{
	width: 1296px;
	padding-top: 60px;
	padding-bottom: 120px;
	gap: 16px;
	border: 2px solid orange;
	display: flex;	
	justify-content: space-between;
}
.shopping-content{
	width: 636px;
	border: 2px solid pink;
}
.title-main{
	width: 636px;
	border: 2px solid blue;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}
.title-main input{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	writing-mode: vertical-rl;

	width: 38px;
	height: 87px;
	border-radius: 100px;
	padding: 12px;
	gap: 8px;
	background: #5B5B5B;



}
.product-main{
	width: 636px;
	border: 2px solid blue;
	gap: 32x;
	padding-top: 10px;
}
.product-main input{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;

	width: 98px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	gap: 8px;
	border-radius: 100px;
	border: 2px solid #5B5B5B

}
.product-list{
	width: 636px;
	gap: 8px;
	border: 2px solid red;
}
.product{
	width: 600px;
	padding-top: 20px;
	border: 2px solid green;
	display: flex;
	justify-content: space-between;
	
}
.hr{
	width: 636px;
	border: 1px solid #D4D4D4;	
}
.product-label-name{
	width: 416px;
	border-bottom: 2px solid yellow;
	padding-bottom: 20px;
}
.label ul{
	display: flex;
	gap: 5px;
	padding-bottom: 8px;
}
.label li{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 12%;
	color: #333333;
	text-align: center;

	width: 60px;
	border-radius: 80px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	background: #FFDD78;
}
.label p{
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	letter-spacing: 12%;

	width: 416px;
	gap: 4px;
}
.product-date-price{
	width: 138px;
	gap: 4px;
}
.product-date-price p1{
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #212121;
}
.product-date-price p2{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #212121;	
}
.favorite{
	opacity: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	padding: 7px;
	border: none;
	text-align: center;
}
.favorite:hover{
	opacity: 1.0;
}


.num-switch{
	width: 636px;
	gap: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.num-switch a{
	width: 32px;
	height: 32px;
	border-radius: 20px;
	padding: 7px;
	border: none;
	background: #F2F2F2;
}
.right{
		transform:rotate(180deg);
}
.num-switch p{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #333333;

	text-align: center;
	width: 43px;
	gap: 8px;
}


.shopping-img{
	width: 526px;
	border: 2px solid pink;
	position: relative;
}
.shopping-img img{
	width: 526px;
	height: 526px;
	border-radius: 200px;
	border: 4px solid #FFFFFF;
}
.shopping-img2{
	display: none;
}
.shopping-img3{
	display: none;
}
.shopping-img .icon-map{
	width: 120px;
	height: 120px;
	border: none;
	position: absolute;
	z-index: 10;
	bottom: 20px;
	left: 5px;
}
.shopping-img .icon-cloud{
	width: 161px;
	height: 161px;
	border: none;
	position: absolute;
	z-index: 1;
	top: 60px;
	right: -80px;
}
.shopping-img a{
	width: 122px;
	gap: 4px;
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #333333;

	position: absolute;
	right: 0px;
	bottom: -80px;
}
/* shopping手機直式版 */
@media (max-width:375px){
	.shopping-content{
		display: none;
	}
	.shopping-img{
		display: none;
	}
	.shopping-main{
		width: 100%;
	}
	.shopping-hide{
		display: block;
	}
	.shopping-hide img{
		width: 295px;
		height: 168px;
	}
	.title-main{
		width: 100%;
	}
	.product-main{
		width: 100%;
	}
}



/* ---content-feature--- */
.feature-main{
	width: 1296px;
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	border: 2px solid orange;
	position: relative;
}
.feature-left{
	width: 800px;
	position: relative;
	border: 2px solid blueviolet;
}
.feature-left img{
	width: 526px;
	height: 526px;
	border-radius:100px;
	border: 4px solid #FFFFFF;
}
.feature-middle{
	width: 297px;
	height: 686px;
	border: 2px solid gold;
	position: relative;
	position: absolute;
	top: -70px;
	right: 50px;
}
.feature-middle button{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #5B5B5B;
	text-align: center;

	width: 124px;
	height: 124px;
	border-radius: 100px;

	gap: 8px;
	border: 2px solid #333333;
}
.feature-middle button:hover{
	background: #333333;
	color: #FFFFFF;
}
.weather{
	position: absolute;
	top: 15px;
}
.rate{
	position: absolute;
	top: 137px;
	left: 96px;
}
.rent{
	position: absolute;
	top: 281px;
	left: 130px;
}
.maps{
	position: absolute;
	top: 425px;
	left: 96px;
}
.culture{
	position: absolute;
	top: 547px;
}
.circle{
	width: 671.32px;
	height: 155.3656768798829px;	
}

.feature-right {
	width: 416px;
	height: 416px;
margin-right: 48px;
margin-top: 32px;
	border-radius: 420px;
	align-items: center;

	gap: 8px;
	border: 2px solid #333333;
}
.feature-right span{
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 28px;
	line-height: 35px;
	letter-spacing: 13%;
	color: #212121;
}











/* ---content-recommend--- */
.recommend-main{
	width: 1296px;
	padding-top: 150px;
	padding-bottom: 80px;
	border: 2px solid orange;
}
.recommend-list{
	width: 1296px;
	border: 2px solid darkcyan;
	gap: 24px;
	display: flex;
	position: relative;
}
.recommend-list .arrow-left{
	width: 28px;
	height: 28px;
	border-radius: 50em;
	border: 2px solid #5B5B5B;
	background: #F2F2F2;
	padding: 16px;
	position: absolute;
	top:45%;
	left: -8%;
}
.recommend-list .arrow-right{
	width: 28px;
	height: 28px;
	border-radius: 50em;
	border: 2px solid #5B5B5B;
	background: #F2F2F2;
	padding: 16px;
	transform:rotate(180deg);
	position: absolute;
	top: 45%;
	right: -8%;
}
.recommend-item{
	width: 306px;
	border-radius: 12px;
	padding-top: 52px;
	padding-right: 32px;
	padding-bottom: 40px;
	padding-left: 32px;
	gap: 16px;
	background: #FFFFFF;
	position: relative;
}
.recommend-item .user-img{
	width: 72px;
	height: 72px;
	position: absolute;
	border-radius: 50%;
	top: -45px;
}
.user-name{
	display: flex;
	gap: 8px;
	padding-bottom: 10px;
	border: 2px solid yellowgreen;
}
.recommend-item .p1{
	width: 64px;
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #333333
}
.user-name img{
	width: 28px;
	height: 28px;
}
.recommend-item .p2{
	width: 120px;
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #5B5B5B
}
.recommend-item img{
	width: 16px;
	height: 16px;
	padding-bottom: 10px;
}
.recommend-hashtag{
	width: 242px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #d4d4d4;
}
.recommend-item .p3{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height:30px;
	letter-spacing: 10%;
	color: #212121	
}
.recommend-item .p4{
	width: 242px;
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #5B5B5B
}


/*footer*/
.footer{
	background: #FFFFFF;
}

.footer-wrap{
	margin: auto;
	max-width: 1296px;
	padding-top: 60px;
	padding-bottom: 120px;
	position: relative;
}
.footer-main{
	display: flex;
	justify-content: space-between;
	width: 1296px;
	gap: 32px;
}
.footer-about{
	display: flex;
	width: 984px;
	gap: 48px;
}
.logo-main{
	width: 344px;
	gap: 32px;
}
.logo-main img{
	padding-bottom: 20px;
}
.logo-main li{
	padding-bottom: 8px;
	font-family: Noto Sans TC;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	letter-spacing: 9%;
}

/* ---footer-middle--- */
.link-main{
	display:flex;
	font-family: Noto Sans TC;	
	text-align: center;
	gap: 36px;
}
.link-main li a{
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	padding-top: 4px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
	color:#5B5B5B;
	text-decoration:none;
}
.link-main li a:hover{
	color:#B1D6CA;
}
.link-main .name{
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	padding-top: 4px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 4px;
}


/* ---footer-right--- */
.footer-right{
	width: 236px;
	gap: 20px;
	border: 2px solid gray;
}
.social-main{
	width: 160px;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}
.footer-content{
	font-family: Noto Sans TC;
	font-size: 14px;
	line-height: 21px;
	color: #D4D4D4;
	text-align: right;
}

/* ---footer-down--- */
.copyright{
	width: 206px;
	height: 21px;
	font-family: Noto Sans TC;
	font-weight:700;
	font-size: 14px;
	line-height: 21px;
	color: #939393;
	position: absolute;
	bottom: 0;
}
/* footer手機版 */

@media (max-width:375px) {
	.footer-wrap{
		width: 100%;
		flex-wrap: wrap;
	}
	.footer-main{
		flex-direction: column;
		width: 375px;
	}
	
}

/* customer-service */
.chat-button{
	background-size: 133px 130px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 2px solid orange;
}
.chat-button a{
	text-decoration: none;
}
.chat-button p{
	font-family: Noto Sans TC;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 7%;
	color: #333333;
	text-align: center;

	width: 133px;
	background: #B1D6CA;
	border-radius: 40px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.chat-main-triangle{
	width: 12px;
	height: 12px;}

.chat-main-img{
	width: 133px;
	height: 94px;
} */
